/*
 * Fonts
 */

@font-face {
  font-family: "Nib Pro";
  src: local("Nib Pro Light"), local("/assets/fonts/Nib-Pro-Light"),
    url("/assets/fonts/NibPro-Light.woff2") format("woff2"),
    url("/assets/fonts/NibPro-Light.woff") format("woff"),
    url("/assets/fonts/NibPro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

/**
 * Override form
 */

button,
select,
input,
textarea {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  padding: 0;
  margin: 0;
  appearance: none;
  background: transparent;
  border: none;
  outline: none;
}

::placeholder {
  color: inherit;
  opacity: 1;
}

input,
select {
  border-bottom: 1px solid black;
  width: 100%;
  padding: var(--size-xs) 0;
}

select,
button {
  cursor: pointer;
}

/**
 * Standard
 */

:root {
  --size-xs: 0.25rem;
  --size-sm: 1rem;
  --size-md: 1.5rem;
  --size-lg: 2.5rem;
}

* {
  box-sizing: border-box;
}

body {
  background: #f8f0e3;
  line-height: 1.3;
  font-family: Helvetica, Arial, sans-serif;
}

main.main {
  min-height: 100vh;
  width: 100%;
}

@media (min-width: 768px) {
  main.main {
    display: flex;
  }
}

.pane {
  flex: 1;
  flex-basis: 50%;
}

.pane__img {
  overflow: hidden;
}

.pane__img img {
  width: 100%;
  object-fit: cover;
  display: block;
}

@media (min-width: 768px) {
  .pane__img img {
    height: 100vh;
  }
}

.pane__detail {
  padding: var(--size-lg);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logoSvg {
  width: 100%;
  transform: translateY(-7%);
}

h2 {
  font-size: var(--size-md);
  font-family: "Nib Pro", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/**
 * Custom form styles
 */

form {
  margin: var(--size-sm) 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: var(--size-sm);
}

input::placeholder,
select {
  color: rgba(0, 0, 0, 0.5);
}
